apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "quickwit.fullname" . }}
  labels:
    {{- include "quickwit.labels" . | nindent 4 }}
data:
  node.yaml: |-
    version: 0
    cluster_id: {{ include "quickwit.fullname" . }}
    listen_address: 0.0.0.0
    gossip_listen_port: 7282
    data_dir: /quickwit/qwdata
    default_index_root_uri: {{ .Values.config.default_index_root_uri }}
    {{- with .Values.config.indexer }}
    indexer:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.config.searcher }}
    searcher:
      {{- toYaml . | nindent 6 }}
    {{- end }}
