apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "quickwit.fullname" . }}-metastore
  labels:
    {{- include "quickwit.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.metastore.replicaCount }}
  selector:
    matchLabels:
      {{- include "quickwit.metastore.selectorLabels" . | nindent 6 }}
  strategy: {{- toYaml .Values.metastore.strategy | nindent 4 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "quickwit.metastore.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "quickwit.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}        
          args: ["run", "--service", "metastore"]
          env:
            {{- include "quickwit.metastore.environment" . | nindent 12 }}
            {{- range $key, $value := .Values.metastore.extraEnv }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
            {{- end }}
          ports:
            {{- include "quickwit.ports" . | nindent 12 }}
          startupProbe:
            {{- toYaml .Values.metastore.startupProbe | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.metastore.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.metastore.readinessProbe | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /quickwit/node.yaml
              subPath: node.yaml
            - name: data
              mountPath: /quickwit/qwdata
          resources:
            {{- toYaml .Values.metastore.resources | nindent 14 }}
      volumes:
        - name: config
          configMap:
            name: {{ template "quickwit.fullname" . }}
            items:
              - key: node.yaml
                path: node.yaml
        - name: data
          emptyDir: {}
      {{- with .Values.metastore.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.metastore.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.metastore.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
